@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoonda3a.eot?ojhii9');
  src:  url('fonts/icomoonda3a.eot?ojhii9#iefix') format('embedded-opentype'),
    url('fonts/icomoonda3a.ttf?ojhii9') format('truetype'),
    url('fonts/icomoonda3a.woff?ojhii9') format('woff'),
    url('fonts/icomoonda3a.svg?ojhii9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-noti:before {
  content: "\e962";
}
.icon-pin:before {
  content: "\e961";
}
.icon-paypal-2:before {
  content: "\e960";
}
.icon-share:before {
  content: "\e95e";
}
.icon-star-2:before {
  content: "\e95d";
}
.icon-logo-tesla:before {
  content: "\e95b";
}
.icon-logo-toyota:before {
  content: "\e95c";
}
.icon-split:before {
  content: "\e95a";
}
.icon-dollar-circle:before {
  content: "\e958";
}
.icon-card-stroke:before {
  content: "\e959";
}
.icon-heart:before {
  content: "\e957";
}
.icon-clock:before {
  content: "\e956";
}
.icon-logo-notifications:before {
  content: "\e955";
}
.icon-sent:before {
  content: "\e952";
}
.icon-link:before {
  content: "\e953";
}
.icon-mood-smile:before {
  content: "\e954";
}
.icon-image-add:before {
  content: "\e951";
}
.icon-mentoring-add .path1:before {
  content: "\e94b";
  color: rgb(17, 24, 39);
}
.icon-mentoring-add .path2:before {
  content: "\e94c";
  margin-left: -1.052734375em;
  color: rgb(17, 24, 39);
}
.icon-mentoring-add .path3:before {
  content: "\e94d";
  margin-left: -1.052734375em;
  color: rgb(147, 51, 234);
}
.icon-mentoring-add .path4:before {
  content: "\e94e";
  margin-left: -1.052734375em;
  color: rgb(147, 51, 234);
}
.icon-mentoring-add .path5:before {
  content: "\e94f";
  margin-left: -1.052734375em;
  color: rgb(17, 24, 39);
}
.icon-mentoring-add .path6:before {
  content: "\e950";
  margin-left: -1.052734375em;
  color: rgb(17, 24, 39);
}
.icon-briefcase:before {
  content: "\e947";
}
.icon-building:before {
  content: "\e948";
}
.icon-photograph:before {
  content: "\e949";
}
.icon-ai-web-browsing:before {
  content: "\e945";
}
.icon-mail-open:before {
  content: "\e946";
}
.icon-more-vertical:before {
  content: "\e944";
}
.icon-search-2:before {
  content: "\e943";
}
.icon-news:before {
  content: "\e93f";
}
.icon-mail-2:before {
  content: "\e940";
}
.icon-receipt-tax:before {
  content: "\e941";
}
.icon-message-2:before {
  content: "\e942";
}
.icon-camera:before {
  content: "\e93e";
}
.icon-logout:before {
  content: "\e931";
}
.icon-mobile-protection:before {
  content: "\e933";
}
.icon-warning:before {
  content: "\e934";
}
.icon-mentoring:before {
  content: "\e936";
}
.icon-forgot-password:before {
  content: "\e938";
}
.icon-user-settings-2:before {
  content: "\e939";
}
.icon-language-skill:before {
  content: "\e93a";
}
.icon-notification-block-1:before {
  content: "\e93b";
}
.icon-user-settings-1:before {
  content: "\e93d";
}
.icon-edit-rectangle:before {
  content: "\e930";
}
.icon-google-pay:before {
  content: "\e928";
}
.icon-apple-pay:before {
  content: "\e929";
}
.icon-paypal:before {
  content: "\e92a";
}
.icon-mastercard:before {
  content: "\e92f";
}
.icon-users-2:before {
  content: "\e923";
}
.icon-users-1:before {
  content: "\e924";
}
.icon-user-2:before {
  content: "\e926";
}
.icon-filter:before {
  content: "\e91d";
}
.icon-bag-dollar:before {
  content: "\e91b";
}
.icon-arrow-dup:before {
  content: "\e919";
}
.icon-edit:before {
  content: "\e918";
}
.icon-search:before {
  content: "\e917";
}
.icon-add:before {
  content: "\e916";
}
.icon-scan:before {
  content: "\e914";
}
.icon-category:before {
  content: "\e910";
}
.icon-group:before {
  content: "\e911";
}
.icon-money-send:before {
  content: "\e912";
}
.icon-mobile-payment:before {
  content: "\e913";
}
.icon-direction-right:before {
  content: "\e90d";
}
.icon-direction-down:before {
  content: "\e90f";
}
.icon-message:before {
  content: "\e90e";
}
.icon-check:before {
  content: "\e90c";
}
.icon-face-id:before {
  content: "\e90b";
}
.icon-face-recognition:before {
  content: "\e90a";
}
.icon-circle-check:before {
  content: "\e909";
}
.icon-arrow-narrow-left:before {
  content: "\e908";
}
.icon-arrow-narrow-right:before {
  content: "\e94a";
}
.icon-phone:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e906";
}
.icon-eye:before {
  content: "\e904";
}
.icon-eye-off:before {
  content: "\e903";
}
.icon-lock:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e900";
}
.icon-ike-outlined:before {
  content: "\e905";
}
.icon-dis-like:before {
  content: "\e95f";
}
.icon-question-circle-outlined:before {
  content: "\e915";
}
.icon-attachment:before {
  content: "\e91a";
}
.icon-star:before {
  content: "\e91c";
}
.icon-scan-2:before {
  content: "\e91e";
}
.icon-mobile-pay:before {
  content: "\e91f";
}
.icon-withdraw:before {
  content: "\e920";
}
.icon-transfer:before {
  content: "\e921";
}
.icon-top-up:before {
  content: "\e922";
}
.icon-notification-ringing:before {
  content: "\e925";
}
.icon-money-recive:before {
  content: "\e927";
}
.icon-empty-wallet-tick:before {
  content: "\e92b";
}
.icon-profile:before {
  content: "\e92c";
}
.icon-card:before {
  content: "\e92d";
}
.icon-home:before {
  content: "\e92e";
}
.icon-flashlight-off:before {
  content: "\e932";
}
.icon-flip-camera:before {
  content: "\e935";
}
.icon-ic_twotone-fingerprint:before {
  content: "\e937";
}
.icon-ant-design_apple-filled:before {
  content: "\e93c";
}
